#task {
    font-size: 32px;
    margin: 30px;
}
input {
    padding: 10px;
    font-size: 20px;
}

#message {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    height: 30px;
    transition: 0.3s ease;
}

.correct-msg {
    color: #4caf50;
    text-shadow: 0 0 10px #4caf50;
}

.wrong-msg {
    color: #e91e63;
    text-shadow: 0 0 10px #e91e63;
}

/* Dark mode (default) */
body {
    background: #111;
    color: #fff;
}

/* Light mode */
body.light {
    background: #f0f0f0;
    color: #000;
}

/* Light mode - buňky, boxy, gridy */
body.light .cell {
    background: #ddd !important;
    box-shadow: 0 0 8px #aaa;
}

body.light #grid .cell:hover,
body.light #field .cell:hover {
    box-shadow: 0 0 12px #3a70ff;
}

/* Light mode – message */
body.light #message {
    color: #000;
}

/* Light mode – inputy, buttony */
body.light button,
body.light select,
body.light input {
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
}
